{% extends "base.html" %}

{% block title  %}
postcreate
{% endblock  %}

{% block body  %}
    <div class="container">
        <form method="POST" class="card p-3 shadow" enctype='multipart/form-data'>
                {% csrf_token %}
                <h3><u> Post Create Form</u></h3>
              <div class="mb-3">
                <label  class="form-label">Title</label>
                <input name="title" type="text"  class="form-control" required >
              </div>
              <div class="mb-3">
                <label  class="form-label">content</label>
                <textarea name="content" style= "height:200px;" class="form-control" required></textarea>
                </select>
              </div>
              <div class="mb-3">
                <label  class="form-label">Image</label>
                <input name="image" type="file"  class="form-control" required >
              </div>
              <div class="mb-3">
                <label  class="form-label">Category</label>
                <select  name="category" class="form-control" required>
                    {% for c in category %}
                    <option value="{{c.id}}">{{c.name}}</option>
                    {% endfor %}
                    
                    
                </select>
              </div>
              
              <button type="submit" class="btn btn-primary">Submit</button>
            </fieldset>
          </form>
    </div>


{% endblock  %}